@namespace yui "library://akb7.jp/yuis/1.0";
@namespace core "yuis.core.*";

.customizers{
    c10:ClassReference("yuis.customizer.ActionCustomizer");
    c20:ClassReference("yuis.customizer.BehaviorCustomizer");
    c30:ClassReference("yuis.customizer.HelperCustomizer");
    c40:ClassReference("yuis.customizer.EventHandlerCustomizer");
    c50:ClassReference("yuis.customizer.ServiceCustomizer");
}

core|YuiFrameworkSettings {
    namingConventionClass:ClassReference("yuis.convention.NamingConvention");
    frameworkBridgePlugin:ClassReference("yuis.bridge.DefaultFrameworkBridgePlugin");
    autoMonitoring:true;
}

